In [29]:
import utils
import pandas as pd

In [30]:
df_train = pd.read_csv('cleaned_training_data.csv')

In [31]:
df_train.head()

   id  label                                              tweet
0   1      0  USER_MENTION father dysfunctional selfish drag...
1   2      0  USER_MENTION USER_MENTION thanks lyft credit c...
2   3      0                                     bihday majesty
3   4      0                           model love u take u time
4   5      0                      factsguide society motivation

In [32]:
df_test = pd.read_csv('cleaned_test_data.csv')

In [33]:
df_test.head()

      id                                              tweet
0  31963  studiolife aislife requires passion dedication...
1  31964  USER_MENTION white supremacists want everyone ...
2  31965   safe way heal acne altwaystoheal healthy healing
3  31966  hp cursed child book reservation already yes w...
4  31967  bihday amazing hilarious nephew eli ahmir uncl...

In [22]:
p_file = open("positive-words.txt")

In [91]:
p_file_contents = p_file.read()
p_words = p_file_contents.splitlines()

In [24]:
n_file = open("negative-words.txt")

In [92]:
n_file_contents = n_file.read()
n_words = n_file_contents.splitlines()

In [89]:
def classify(tweet):

  pos_count, neg_count = 0, 0
  for word in tweet.split():
    if word in p_words:
      pos_count +=1

    elif word in n_words:
      neg_count +=1
  if pos_count >= neg_count:
    prediction = 1
  else:
    prediction = 0

  return prediction

In [79]:
df_train["prediction"] = 0

In [80]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          31962 non-null  int64
 1   label       31962 non-null  int64
 2   tweet       31907 non-null  object
 3   prediction  31962 non-null  int64
dtypes: int64(3), object(1)
memory usage: 998.9+ KB

In [81]:
df_train["prediction"] = df_train.tweet.apply(lambda x : classify(str(x)))

In [88]:
df_train.head()

   id  label                                              tweet  prediction
0   1      0  USER_MENTION father dysfunctional selfish drag...           0
1   2      0  USER_MENTION USER_MENTION thanks lyft credit c...           0
2   3      0                                     bihday majesty           1
3   4      0                           model love u take u time           1
4   5      0                      factsguide society motivation           1

In [83]:
df_test["prediction"] = 0

In [84]:
df_test["prediction"] = df_test.tweet.apply(lambda x : classify(str(x)))

In [90]:
df_test.to_csv('baseline_prediction.csv', index = False)